html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    line-height: 36px;
    font-size: 24px;
    font-family: Roboto, sans-serif;
    color: #fff;
    font-style: italic;
}

img {
    vertical-align: middle;
}

.mb-48 {
    margin-bottom: 48px;
}

header {
    background: url("./images/banner.png") no-repeat left -130px top;
    background-size: cover;
    height: 958px;
    justify-content: center;
    align-items: center;
}

.header__info {
    max-width: 304px;
    flex-direction: column;
    font-weight: bold;
    padding: 308px 0px;
    margin: 0 auto;
}

.header__info h3 {
    line-height: 42px;
}

.header__info h1 {
    line-height: 106px;
    font-size: 80px;
    margin-bottom: 32px;
    font-weight: 900;
}

.header__info h2 {
    margin-bottom: 40px;
}

.header__info img:not(:last-child) {
    padding-right: 16px;
}

.header__info a:hover {
    opacity: 0.5;
}

hr {
    width: 412px;
    height: 1px;
    color: #000;
}

.about{
    color: #000000;
    text-align: center;
}

.about__info {
    border-bottom: 1px solid #000;
    padding-bottom: 24px;
    max-width: 432px;
    margin: 0 auto;
    margin-bottom: 28px;
}

/* .about--info:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 50%;
    width: 1px;
}

.about--info:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 50%;
    width: 1px;
} */

.about h2 {
    line-height: 84px;
    font-size: 64px;
    margin: 56px 0 40px 0;
}

.about img {
    margin-bottom: 20px;
}

.about p {
    font-weight: bold;
    line-height: 42px;
    margin-bottom: 4px;
}

.about__info__birth {
    margin-bottom: 8px;
}

.about__info__edu {
    margin-bottom: 24px;
    line-height: 36px;
}

.about__exp {
    line-height: 42px;
    font-weight: bold;
    margin-bottom: 56px;
}

.about__exp:not(:last-child) {
    margin-bottom: 28px;
}

.about__exp li {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 352px;
    margin: 0 auto;
}

.about__exp li::before {
    content: '';
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: #891818;
    margin-right: 16px;
}

.my-brand {
    background-color: #000;
    text-align: center;
}

.my-brand h2 {
    line-height: 84px;
    font-size: 64px;
    padding: 56px 0 12px 0;
}

.my-brand h3 {
    line-height: 42px;
    margin-bottom: 32px;
}

.my-brand p {
    line-height: 30px;
    font-size: 20px;
    margin-bottom: 68px;
}

.my-brand__list {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 56px;
}

.my-brand__list .img-1 {
    margin-bottom: 40px;
}

.my-brand__list .img-2 {
    padding-bottom: 160px;
    display: flex;
    justify-content: space-between;
}

.d-flex {
    display: flex;
    justify-content: space-between;
}

.other-works {
    max-width: 1200px;
    margin: 0 auto;
    color: #000;
    text-align: center;
    margin-bottom: 144px;
}

.other-works h2 {
    line-height: 84px;
    font-size: 64px;
    margin-bottom: 16px;
}

.other-works__intro {
    
    line-height: 30px;
    font-size: 20px;
    margin-bottom: 56px;
}

.other-works__detail img {
    margin-bottom: 16px;
}

.other-works__detail h3 {
    line-height: 42px;
    font-size: 20px;
}

footer {
    background: #000;
    text-align: center;
    padding: 64px 0 ;
}

footer h2 {
    line-height: 84px;
    font-size: 64px;
}

footer li:not(:last-child) {
    padding-bottom: 16px;
}

footer li a {
    text-decoration: none;
    color: #fff;
}

footer li a:hover {
    opacity: 0.5;
}